.homescreen {
    background-color: #f6f6f6;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;

    .homescreen_inner {
        background-color: RGB(240 253 250);
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        margin: 13rem 15rem;
        box-shadow: 0 3px 12px RGB(22 22 22/5%);

        .create_room {
            display: flex;
            flex-direction: column;
            width: 30%;
            padding: 2rem 5rem;

            .input_create_Room {
                height: 1.8rem;
                border-radius: 5px;
                margin: 0.8rem 0;
                border-color: lightblue;
            }
    
            .input_email_create_room {
                display: flex;
                margin-top: 0.8rem;

                .input_create_Room {
                height: 1.8rem;
                border-radius: 5px;
                margin: 0.8rem 0;
                border-color: lightblue;
                }
                
                .add_joinne_button {
                    border: 1px;
                    border-radius: 5px;
                    margin: 1rem 2rem;
                    background-color: #ed8936;
                    color: black;
                    cursor: pointer;
                }
            }

            .create_room_button {
                width: inherit;
                border: 1px;
                border-radius: 5px;
                background-color: #ed8936;
                color: black;
                cursor: pointer;

            }
        }
    
        .join_room {
            display: flex;
            flex-direction: column;
            width: 30%;
            padding: 2rem 5rem;

            .input_join_room {
                height: 1.8rem;
                border-radius: 5px;
                margin: 0.8rem 0;
                border-color: lightblue;
            }

            .join_room_button {
                margin-top: 0.8rem;
                width: inherit;
                border: 1px;
                border-radius: 5px;
                background-color: #ed8936;
                color: black;
                cursor: pointer;
            }
        }
    }
}